*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-bar{
  background-color: #0745a8;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 650px;
  margin-bottom: 5px;
  
  
  
}
.nav-content-text{
  font-size: 40px;
  font-weight: 600;
}

.box{
  margin-top: 30px;
  border-radius: 10px;
  background-color: #0745a8;
  color: aliceblue;
  
}
.box:hover{
  box-shadow: 0 0 15px #0745a8;
}




/* .allBox{
   position: absolute;
  top: 790px;
  left: 110px;
  margin-bottom: 300px;
  

} */




.chairImage{
  background-image: url("./images/chair.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 660px;
  border: 1px solid white;
  
}
/* h1, h2,h3, h4, h5, h6{
  font-weight:
} */
hr{width: 500px;}
.service:hover{
  color: #0745a8;
}

.fourbox{
  height: 273px;
  padding: 70px;
  border-right: 1px solid white;
  border-radius: 10px;
  
}

.banner2{
  background-image: url("./images/banner2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 770px;
  /* position: relative; */
  
  
}

.pageItem{
  
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-right: 20px;
}

.pageItem:hover{
  border-bottom: 4px solid #0745a8;
  /* transition: 9s; */
  color:#0745a8;
 
 
}


.tbtn{
  background-color: #0745a8;
  border: 1px solid white;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  padding: 10px 15px;
  font-weight: bold;


}

.tbtn:hover{
  background-color:white;
  color: #0745a8;
}
.textcontent{
  
  margin-left: 80px;
}

p{
  font-size: 20px;
}

.btn1{
  color: white;
  background-color: #0745a8;
  border-radius: 10px;
  border: none;
  
  padding: 10px 15px;
  font-weight: bold;
}

.btn1:hover{
  background-color:#3d6fbe
}

/* .content1{
  height: 100vh;
}

.text-content1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  color: white;
  padding: 10px;
} */